*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'aeonik', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}
#main{
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1639308678530-ec2948ca4aae?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);  
    background-position: center;
    background-size: cover;
}
.layer{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    color: white;
    z-index: 100;
    position: relative;
}
nav h2{
    font-size: 30px;
    /* font-weight: 800; */
}
nav i{
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
}
#full{
    z-index: 100;
    position: relative;
    height: 100%;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.564);
    position: absolute;
    top: 0;
    right:-30%;
    backdrop-filter: blur(10px);
    padding: 100px 90px;
    
}
#full h4{
    
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
    cursor: pointer;

}
#full i{
    font-size: 20px;
    position: absolute;
    border-radius: 50%;
    font-weight: 600;
    padding: 5px;
  
    top: 5%;
    right: 10%;
    cursor: pointer;
}
